<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Please Don't Contact Me</h1>
    <p>
        I'm learning a lot and if you hit me up, I will get distracted.
        Please do not contact me at thius time.
        I'll update the webpage when I'm ready to be distracted again.
        :)
    </p>
    <footer>
        <div>Copyright 1982 by me!</div>
        <div>I like pie</div>
    </footer>
</main>
